@model DemoMVC.Models.Emp
@{
    ViewBag.Title = "Sendobject";
}

<h2>Sendobject</h2>
<table>
    <tr>
        <td>empno:</td><td>@Model.empno</td>
    </tr>
    <tr>
        <td>ename:</td><td>@Model.ename</td>
    </tr>
    <tr>
        <td>salary:</td><td>@Model.salary</td>
    </tr>
</table>
