@{
    ViewBag.Title = "Unbound";
}

<h2>Unbound</h2>
@using(Html.BeginForm("ShowData","Bound"))
{
<table>
    <tr>
        <td>Empno</td>
        <td>@Html.TextBox("txtempno")</td>
    </tr>
    <tr>
        <td>Ename</td>
        <td>@Html.TextBox("txtename")</td>
    </tr>
    <tr>
        <td>sal</td>
        <td>@Html.TextBox("txtsal")</td>
    </tr>
    <tr>
        <td><input type="submit" /></td>
    </tr>
</table>
}